.headertop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    top: 0;

    left: 0%;
    background-color: rgb(211, 205, 205);
}

li {
    list-style: none;
    font-size: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.left {

    width: 43%;
    align-items: center;
}

.left ul {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    width: 100%;
    margin: 0;
    padding-left: 3px;
}

.right ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

.right {
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-right: 10px;
}





.title {
    display: flex;
    flex-direction: row;

    width: 50%;

    align-items: center;

    justify-content: left;
    background-color: white;
    margin-left: 5px;
}

input {
    height: 10px;
    font-size: xx-small;
}

select {
    height: 10px;
    border: 0;
}


#icon,
input {
    margin-left: 17px;
    font-size: 7px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-top: -27px;
    height: 20px;
    font-size: small;
    justify-content: space-between;
    background-color: white;
    width: 100%;

    left: 0;

}

.right1 ul {
    display: flex;
    margin-top: 4px;
    justify-content: space-around;
    width: 90%;

}

.right1 {
    display: flex;
    justify-content: space-around;
    width: 46%;
    margin-right: 2px;
}

header button {
    font-size: smaller;
    background-color: rgb(228, 28, 28);
    color: white;
    border: 0;
    border-radius: 10%;
}

.c1 {
    font-size: 8px;
}

#text {


    height: 100%;
    top: 40px;
    left: 0;

    min-width: 290;
    width: 148px;
}

#text ul {
    height: 88%;
    padding: 0;

}

#text a {

    font-size: 10px;
    color: #000;
    text-align: left;
    line-height: 20px;
    margin: 0px;
    padding: 5px 0px;
    font-family: sans-serif;
}

#text li {
    display: block;
    padding: 5px 0px;
    margin: 0px;
    list-style: disc;
    border-bottom: 1px dotted #bbb;
}

#text img {
    width: 148px;
}

#text h4 {
    background-color: rgb(236, 74, 74);
}

.main-doc {


    margin-left: 9px;
    margin-right: 150px;
    background-color: white;
    border: 5px white solid;
    border-radius: 1%;
}

img {
    width: 100%;
}

body {
    background-color: rgb(209, 206, 206);
}

.button {
    display: flex;
    height: 20px;
    justify-content: space-around;

}

.button button {
    font-size: 7px;
    width: 70px;
    border: solid black .01px;
}

#container {
    display: flex;
    margin-top: 40px;
}
@media only screen and (max-width: 768px) {
    header{width: 100%;}
    .headertop{width:100%}
    #text{width: 100%;}
    .main-doc{width: 100%;}
}